@font-face {
	font-family: 'AlexBrush';
	src: url(fonts/alex-brush/AlexBrush-Regular.ttf);
}
body{
	margin:0;
	height: 100%;
	width: 100%;
	font-family: 'Didot', 'Bookman', 'Times', serif;
	line-height: 1.3em;
	background-color: snow;
}
/*header styles*/
header{
	background-color: crimson;
	text-align: center;
	padding-top: 3.125em;
	padding-bottom: 3.125em;
}

h1, h2{
	font-family: 'AlexBrush', 'Didot', 'Bookman', 'Times', serif;
}
header h1{
	margin-bottom: 0;
	margin-top: 0.5em;
	color: white;
	font-size: 5em;
}

header img{
	border: 10px solid;
	border-color: #121210;
}

main{
	max-width: 60em;
	margin: 0 auto;
	padding: 1.25em;
}
main img{
	max-width: 100%;
}
h2{
	font-size: 3em;
	color: goldenrod;
	margin: 1.25em 0 0.6em;
}

a{
	text-decoration: none;
	color: goldenrod;
}

a:hover{
	text-decoration: none;
	color:darkgoldenrod;
}

footer{
	background-color: crimson;
	text-align: right;
	color: white;
	padding: 2em;
}
footer p{
	margin: 0;
}
footer a{
	text-decoration: none;
	color: aliceblue;
}
footer a:hover{
	text-decoration: none;
	color: darkblue;
}

p.caption{
	color: dimgray;
	font-style: italic;
	margin-top: 0.25em;
}